@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/*Variaveis Css*/
/*Com as variaveis, é possível criar uma pré definição a ser usada 
na estilização, ao invés de passar e repetir uma por uma*/
/**/
/*With variables, it is possible to create a pre-definition to be used
in styling, instead of going through and repeating one by one*/
:root {
  --header-height: 3rem;

  /*colors*/
  /*
  fonts
  #3e4147 black
  #2a2c31 black +
  #dbdea6 

  background
  #dbdea6
 #d1bd95
 ----
 #edeedd
 #e4e5cc

 details
 #8c686b
 #391b4a
 #d1f7ba
  */
  /*----COLORS----*/
  --body-color: #260026;
  --container-color: #4d014d;
  --details-color: #c00dff;
  --black-color: /*#1a1a1b*/ ;
  --black-color-light: #a0a0a0;
  --white-color: #ffffff;
  --white-dark: #adafb889;
  --color-dark: #100010;

  /*---FONT---*/
  --body-font: "Roboto Condensed", sans-serif;
  --text-color-black: #ffffff;
  --text-color-white: #ffffff;

  /*----FONT-WEIGHT----*/
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  /*-----Z index------*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/*========START STYLING==========*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
  font-size: var();
  background-color: var(--body-color);
  color: var(--text-color-black);
}
h1,
h2,
h3,
h4 {
  color: var(--text-color-black);
  font-weight: var(--font-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*=========THEME=========*/
.nav-buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.change-theme {
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
  transition: color 0.3s;
}
/* ------LIGHT THEME-------
body.light-theme {
  --body-color: #e4f1ff;
  --container-color: #aed2ff;
  --details-color: #9400ff;

  --black-color-light: #262626;
  --white-color: #ffffff;
  --white-dark: #a0a0a0;
  --color-dark: #27005d;
}
*/
/*-----REUSABLE CSS ------*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
  gap: 1.5rem;
}
.section {
  padding-block: 4rem 2rem;
}
.section-title-1,
.section-title-2 {
  position: relative;
  font-size: 30px;
  width: max-content;
  margin: 0.75rem auto 2rem;
}
.section-title-1 span,
.section-title-2 span {
  z-index: 5;
  position: relative;
}
.section-title-1::after,
.section-title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: #36047b4c;
  position: absolute;
  top: -4px;
  right: -8px;
}
.section-title-2::after {
  top: initial;
  bottom: -4px;
}
.geometric-box {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--details-color);
  rotate: -30deg;
}
.geometric-box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid var(--black-color);
  top: -5px;
  left: -5px;
}
.main {
  overflow: hidden;
}

/*----HEADER E NAV ----*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s;
}
.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: var(--font-bold);
  color: var(--black-color);
}
.nav-logo-circle,
.nav-toggle {
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
}
.nav-logo-circle {
  border-radius: 50%;
}
.nav-toggle {
  font-size: 1.25rem;
  cursor: pointer;
}
/*--------MOBILE---------*/
@media screen and (max-width: 1150px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    backdrop-filter: blur(8px);
    transition: top 0.4s;
  }
  /*-------------------*/
}
/*-------------------*/
.nav-title,
.nav-name,
.nav-close {
  color: var(--white-color);
}
.nav-title {
  display: block;
  font-size: 14px;
  font-weight: var(--font-medium);
  margin-bottom: 3.5rem;
}
.nav-name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: 24px;
}
.nav-name::before,
.nav-name::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #fffedf;
  position: absolute;
  top: 50%;
  left: -4rem;
}
.nav-name::before {
  left: initial;
  right: -4rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav-link {
  position: relative;
  color: var(--white-dark);
  font-size: 24px;
  font-weight: var(--font-medium);
  transition: color 0.3s;
}
.nav-link::after {
  content: "";
  /* width: 25%;*/
  height: 2px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}
.nav-link:hover {
  color: var(--white-color);
}
.nav-link:hover::after {
  width: 25%;
}
.nav-close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

/*--Show menu--*/
.show-menu {
  top: 0;
}
/*add shadow header*/
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, 0.15);
}

/*-----ACTIVE LINK----*/
.active-link {
  color: var(--white-color);
}
.active-link::after {
  width: 25%;
}

/*------HOME-------*/
.home-container {
  padding-top: 2rem;
}
.home-name {
  font-size: 40px;
  text-align: center;
}
.home-perfil {
  position: relative;
  justify-self: center;
}
.home-image {
  width: 220px;
}
.home-img {
  position: relative;
  z-index: 10;
}
.home-shadow {
  background-color: var(--details-color);
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: -0.75rem;
  right: -0.75rem;
  border: 4px solid var(--black-color);
  z-index: 5;
  transition: background-color 0.4s;
}
.home-arrow {
  width: 50px;
  position: absolute;
  /*filter: invert(1);*/

  transition: filter 0.4s;
}
.home-line {
  width: 50px;
  position: absolute;
  filter: invert(1);

  transition: filter 0.4s;
}
.home-arrow {
  bottom: -4rem;
  left: 40%;
}
.home-line {
  bottom: -0.5rem;
  right: -2rem;
}
.home-perfil .geometric-box {
  left: -0.7rem;
  z-index: 10;
  top: 2.5rem;
}
.home-social {
  display: grid;
  row-gap: 1rem;
  height: max-content;
  position: absolute;
  left: -3rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.home-social-link {
  padding: 6px;
  display: grid;
  place-items: center;
  background-color: var(--black-color-light);
  color: var(--body-color);
  font-size: 1.25rem;

  transition: background-color 0.3s;
}
.home-social-link:hover {
  background-color: var(--black-color);
}
.home-info {
  margin-top: 4rem;
}
.home-description {
  text-align: center;
  color: var(--text-color-black);
  margin-bottom: 1.5rem;
}
.home-description b {
  background: linear-gradient(
    90deg,
    hsla(284, 89%, 25%, 0.3),
    hsla(276, 98%, 32%, 0)
  );
}
.home-scroll {
  display: block;
  width: max-content;
  margin: auto;
}
.home-scroll-text {
  display: none;
}
.home-scroll-box {
  background-color: var(--black-color);
  display: grid;
  color: var(--body-color);
  width: 36px;
  height: 36px;
  place-items: center;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.4s;
}
.home-scroll-box i {
  animation: scroll-down 3s infinite;
}
/* ----animate scroll icon ----*/
@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}
/*---------BUTTONS-------------*/
.button,
.button-ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.button {
  background-color: var(--body-color);
  padding: 1.1rem 1.5rem;
  color: var(--text-color-white);
  font-weight: 600;
  transition: background-color 0.4s;
}
.button i {
  font-size: 1.5rem;
}
.button:hover {
  background-color: var(--details-color);
}
.button-ghost {
  border: 3px solid var(--body-color);
  color: var(--body-color);
  padding: 0.5rem;
  transition: border 0.4s, color 0.4s;
}
.button-ghost i {
  font-size: 1.25rem;
}
.button-ghost:hover {
  border: 3px solid var(--details-color);
}
/*-----ABOUT ME---------*/
.about {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}
.about-container {
  row-gap: 0;
}
.about-perfil {
  position: relative;
  justify-self: center;
  margin-block: 2.5rem 4.5rem;
}
.about-image {
  width: 220px;
}
.about-img {
  position: relative;
  border: 4px solid var(--text-color-white);
  z-index: 1;
}
.about-shadow,
.about-line,
.about-box {
  position: absolute;
}
.about-shadow {
  width: 150px;
  height: 385px;
  background-color: var(--body-color);
  top: -2rem;
  right: -3.5rem;
  border-bottom: 4px solid var(--details-color);
  transition: background-color 0.4s;
}
/*esconder possivelmente*/
.about-perfil .geometric-box {
  top: 1.5rem;
  right: -2.8rem;
}
.about-line {
  filter: invert(1);
  right: -1.8rem;
  top: 6rem;
  width: 50px;
  transition: filter 0.4s;
}
.about-box {
  width: 40px;
  height: 40px;
  background-color: var(--details-color);
  right: -0.5rem;
  bottom: 1.5rem;
}
.about-info {
  padding-left: 1.25rem;
}
.about-description {
  position: relative;
  color: var(--black-color-light);
  margin-bottom: 1.5rem;
}
.about-description::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--black-color-light);
  position: absolute;
  left: -1.75rem;
  top: 0.5rem;
}
.about-list {
  list-style: square;
  color: var(--black-color-light);
  margin-bottom: 3rem;
}
.about-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
/*--------SERVICES -----------*/
.services-container {
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 2rem;
  padding-top: 1rem;
}
.services-card {
  position: relative;
}
.services-content {
  height: 100%;
  background-color: var(--body-color);
  border: 4px solid var(--black-color-light);
  padding: 6rem 1rem 3rem;
  z-index: 5;
  position: relative;
  transition: background-color 0.4s, border 0.4s;
}
.services-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--container-color);
  top: 0;
  left: 0;
  transition: transform 0.4s;
}
.services-card:hover .services-border {
  transform: translate(0.75rem, 0.75rem);
}
.services-icon {
  position: relative;
  display: inline-block;
}
.services-icon i {
  font-size: 2rem;
  color: var(--black-color-light);
  position: relative;
  z-index: 5;
}
.services-box {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--details-color);
  right: -2px;
  top: -2px;
}
.services-title {
  font-size: 18px;
  margin-bottom: 1.25rem;
}
/*----PROJECTS-----*/
.projects {
  background-color: var(--container-color);
  transition: background-color 0.4s;
}
.projects-container {
  row-gap: 2rem;
}
.projects-card {
  transition: background-color 0.4s;
  padding: 1rem 1rem 2rem;
}
.projects-image {
  position: relative;
  margin-bottom: 0.75rem;
}
.projects-button {
  position: absolute;
  right: 1rem;
  bottom: -1.5rem;
  padding: 1rem;
}
.projects-content {
  margin-bottom: 1.25rem;
}
.projects-subtitle {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.75rem;
  margin-left: 1.75rem;
}
.projects-subtitle::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: var(--body-color);
  position: absolute;
  top: 50%;
  left: 0;
}
.projects-title {
  font-size: 22px;
  margin-bottom: 0.75rem;
}
.projects-buttons {
  display: flex;
  align-items: center;
  /*column-gap: 1rem;*/
}
.projects-link {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;

  font-size: 14px;
  font-weight: 500;
  transition: color 0.4s;
}
.projects-link i {
  font-size: 1rem;

  transition: color 0.4s;
}
.projects-link:hover .projects-link:hover i {
  color: var(--details-color);
}
.projects-card:hover {
  background-color: var(--body-color);
}
/*-----CONTACT-----*/
.contact {
  padding-bottom: 0;
}
.contact-container {
  position: relative;
  grid-template-rows: 300px max-content max-content;
  row-gap: 0;
}
.contact-data {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: var(--container-color);
  padding: 3rem 1.5rem 3.5rem;
  margin-left: auto;
  border-bottom: 4px solid var(--details-color);
  z-index: 5;
  transition: background-color 0.4s;
}
.contact-data .section-title-2 {
  margin: 0 0 1.5rem;
  transform: translateX(-3rem);
}
.contact-description-1 {
  color: var(--text-color-black);
  font-weight: 600;
  margin-bottom: 2rem;
}
.contact-description-2 {
  color: var(--text-color-black);
  font-size: 14px;
}
.contact-data .geometric-box {
  top: 2rem;
  right: 2.5rem;
}
.contact-mail {
  position: relative;
  background-color: #100010;
  padding: 5rem 1.5rem 2.5rem;
  margin-top: -2.5rem;
  transition: background-color 0.4s;
}
.contact-title {
  color: var(--text-color-white);
  font-size: 18px;
  margin-bottom: 2rem;
  text-align: center;
}
.contact-form,
.contact-group {
  display: grid;
  row-gap: 1.25rem;
}
.contact-form {
  position: relative;
}
.contact-box {
  position: relative;
  width: 100%;
  height: 58px;
  margin-bottom: 2rem;
}
.contact-input,
.contact-button {
  font-size: 14px;
  outline: none;
  border: none;
}
.contact-input {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #100010;
  border: 3px solid var(--black-color-light);
  color: var(--text-color-black);
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: border 0.4s, background-color 0.4s;
}
.contact-input::placeholder {
  color: var(--black-color-light);
  transition: opacity 0.4s;
}
.contact-input:focus {
  border: 3px solid var(--text-color-white);
}
/*
.contact-input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}*/
.contact-label {
  position: absolute;
  top: -16px;
  left: 10px;
  color: var(--black-color-light);
  font-weight: 600;
  background-color: #100010;
  padding: 8px;
  pointer-events: none;
  transition: top 0.4s, opacity 0.4s, background-color 0.4s;
  opacity: 0;
}
.contact-form .contact-area {
  height: 10rem;
}
.contact-area textarea {
  resize: none;
  padding-top: 1rem;
}
.contact-button {
  background-color: var(--details-color);
  cursor: pointer;
}
/*placeholder opaque*/
.contact-input:focus::placeholder {
  opacity: 0;
}
/*move label up and sticky label*/
.contact-input:focus + .contact-label,
.contact-input:not(:placeholder-shown).contact-input:not(:focus)
  + .contact-label {
  opacity: 1;
  top: -16px;
}
.contact-social {
  display: grid;
  row-gap: 1rem;
  background-color: hsl(0, 0, 10%);
  text-align: center;
  margin-bottom: 2rem;
}
.contact-social-arrow {
  width: 32px;
  margin: 0 auto;
}
.contact-social-data {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.contact-social-description-1 {
  color: var(--black-color-light);
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.contact-social-description-2 {
  color: var(--text-color-white);
  font-size: 16px;
  font-weight: 500;
}
.contact-social-links {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}
.contact-social-link {
  background-color: var(--black-color-light);
  padding: 6px;
  color: var(--white-color);
  font-size: 1.25rem;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}
.contact-social-link:hover {
  background-color: var(--details-color);
}
/*  ----- FOOTER ------------ */
.footer {
  background-color: #100010;
  row-gap: 2.5rem;
}
.footer-links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.footer-link {
  color: var(--black-color-light);
  transition: color 0.4s;
}
.footer-link:hover {
  color: var(--text-color-white);
}
.footer-copy {
  color: var(--black-color-light);
  font-size: 14px;
  text-align: center;
}
.footer-copy a {
  color: var(--black-color-light);
  font-weight: 600;
}
/* -----Scroll Bar ----*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 65%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 55%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 45%);
}
/* ---------scroll up------*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: #100010;
  display: inline;
  padding: 8px;
  font-size: 1.25rem;
  color: var(--white-color);
  z-index: var(--z-tooltip); /*pesquisar significado*/
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
}
.scrollup:hover {
  transform: translate(-0.5rem);
}
/*------show scroll up------*/
.show-scroll {
  bottom: 3rem;
}
/*==================*/
/*========BREAKPOINTS FOR DEVICES==========*/
/*Small devices*/
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .home-image {
    width: 160px;
  }
  .about-image {
    width: 160px;
  }
  .about-shadow {
    height: 330px;
    right: -2.5rem;
  }
  .contact-data {
    width: 100%;
  }
  .contact-data .section-title-2 {
    transform: translateX(0);
  }
}
/*medium devices*/
@media screen and (min-width: 540px) {
  .home-container,
  .about-container,
  .projects-container {
    grid-template-columns: 350px;
    justify-content: center;
  }
  .contact-data {
    width: 350px;
    padding: 4rem 1.5rem;
    margin-inline: auto;
  }
  .contact-container {
    grid-template-columns: 500px;
    justify-content: center;
  }
  .contact-group {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}
@media screen and (min-width: 768px) {
  /*.services-container {
    grid-template-columns: repeat(2, 250px);
  }*/
  .projects-container {
    grid-template-columns: repeat(2, 350px);
  }
}
/*large devices*/
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .section-title-1::after,
  .section-title-2::after {
    width: 70px;
    height: 48px;
  }
  .geometric-box {
    transform: scale(1.2);
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  .nav-close,
  .nav-toggle,
  .nav-title,
  .nav-name {
    display: none;
  }
  .nav-list {
    flex-direction: row;
    column-gap: 4rem;
  }
  .nav-menu {
    margin-left: auto;
  }
  .nav-link {
    color: var(--black-color-light);
    font-size: 20px;
  }
  .active-link {
    color: var(--text-color-white);
  }
  .nav-link-button {
    background-color: var(--container-color);
    color: var(--text-color-white);
    padding: 1.1rem 1.5rem;
  }
  /*
  .nav-link-button:hover{
    color: var(--text-color-white);
  }
  .nav-link-button::after{
    background-color: transparent;
  }
  
  .change-theme {
  }
  */
  .home-container {
    grid-template-columns: repeat(2, 460px);
    gap: 2rem 4rem;
    align-items: center;
    padding-block: 5.5rem;
  }
  .home-perfil {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .home-image {
    width: 350px;
  }
  .home-shadow {
    right: -1.25rem;
    bottom: -1.25rem;
    border: 6px solid white;
  }
  .home-name,
  .home-description {
    text-align: initial;
  }
  .home-name {
    align-self: flex-end;
  }
  .home-info {
    margin-top: 0;
    align-self: flex-start;
  }
  .home-description {
    position: relative;
    font-size: 25px;
    margin-bottom: 5.5rem;
    padding-left: 3rem;
  }
  .home-description::after {
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--black-color-light);
    position: absolute;
    left: 0;
    top: 14px;
  }
  /* /*-----SCROLL------
  .home-scroll {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }
  .home-scroll-text {
    display: block;
    color: var(--black-color-light);
    font-weight: 600;
  }
  .home-scroll-box {
    width: 44px;
    height: 44px;
  }
  .home-scroll-box i {
    font-size: 1.25rem;
  }
  */
  .home-perfil .geometric-box {
    top: 15rem;
  }
  .home-arrow {
    top: 4.5rem;
    left: -8rem;
    rotate: 80deg;
    width: 80px;
  }
  /*
  .home-line {
    left: -15rem;
    bottom: 4rem;
    width: 80px;
    rotate: 30deg;
  }*/
  .home-social {
    left: initial;
    right: -6rem;
  }
  .home-social-link {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}
